* {
  margin: 0;
  padding: 0;
  }
  
  @font-face {
    font-family: OpenSans;
    src: local("OpenSans"),
        url("../Fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../Fonts/OpenSans-Regular.woff") format("woff"),
        url("../Fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: OpenSans;
    src: local("OpenSans"),
        url("../Fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../Fonts/OpenSans-Bold.woff") format("woff"),
        url("../Fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
  }
  
  .header {
    background-image: url("../Images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    z-index: 0;
    padding: 25px 0px 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
    position: relative;
  }
  
  .header:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.60;
    z-index: -1;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: OpenSans;
    font-size: 13px;
    text-transform: uppercase;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    
  }
  
  .header-logo {
    width: 179px;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .menu-button {
    display: flex;
  }

  #menu-toggle {
    opacity: 0;
    display: flex;
  }
  
  .menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .menu-list a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .menu-list a:hover {
    text-decoration: underline;
  }
  
  .menu-list li:nth-child(n+2) {
    margin-left: 35px;
  }
  
  .intro {
    text-align: center;
    font-family: OpenSans;
    font-size: 23px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 75px;
    max-width: 680px;
    margin-top: 100px;
   
  }
  
  .page-title {
    font-size: 20px;
    font-family: OpenSans;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    margin-top: 64px;
  }
  
  .page-title::after {
    content:"";
    display: block;
    margin: 14px auto 29px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    border: none;
  }

  .trends {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .card {
    width: 24.8%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    z-index: 0;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px 18px;
    box-sizing: border-box;
    font-family: OpenSans;

    position: relative;
  }

  .card:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.60;
    z-index: -1;
  }

  .card-frame {
    padding: 37px 33px;
    border: 3px solid #776940;
  }

  .card-title {
    margin-top: 15px;  
    }
    
    .card-title a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
    
    .card-title a:hover {
      color: #b59f5b;
    }

  .card:nth-child(n+1) {
    background-image: url("../Images/trend1.jpg");
  }

  .card:nth-child(n+2) {
    background-image: url("../Images/trend2.jpg");
  }

  .card:nth-child(n+3) {
    background-image: url("../Images/trend3.jpg");
  }

  .card:nth-child(n+4) {
    background-image: url("../Images/trend4.jpg");
  }

  .page {
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    max-width: 1200px;
    margin: auto;

  }

  .post-list {
    width: 64%;
  }
  
  .post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .post:nth-child(n+2) {
    margin-top: 59px;
  }
  
  .post-pic {
    max-width: 381px;
    max-height: 294px;
    background-color: #eff6f1;
  }
  
  .post-frame {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: OpenSans;
    margin-left: 30px;
    width: 100%;
  }
  
  .category>li{
    display: inline-block;
    list-style: none;
    margin-right: 19px;
  }
  
  .category a{
    text-decoration: none;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
  
  .category a:hover{
    text-decoration: underline;
  }
  
  .post-title{
  margin-top: 15px;  
  }
  
  .post-title a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
  }
  
  .post-title a:hover{
    color: #b59f5b;
  }
  
  .date_author{
  margin-top: 36px;  
  }
  
  .post-date{
    font-size: 12px;
    color: #888888;
  }
  
  .post-author{
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    margin-left: 14px;
  }
  
  .post-text{
    width: 100%;
    font-size: 15px;
    color: #0f0d0e;
    line-height: 22px;
    margin-top: 54px;
  }
  
  .side-bar{
    width: 23%;
    font-family: OpenSans;
  }
  
  .section-title{
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
  }
  
  .section-title::after{
    content:"";
    display: block;
    margin: 14px auto 29px;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    border: none;
  }
  
  .side-bar-post{
    display: flex;
  }
  
  .side-bar-post:nth-child(n+2){
    margin-top: 22px;
  }
  
  .side-bar-pic{
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: #f4f7f6; 
  }
  
  .side-post-frame{
    margin-left: 7.3%;
  }
  
  .side-post-title a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #0f0d0e;
  }
  
  .side-post-title a:hover{
    color: #b59f5b;
  }
  
  .search{
    margin: 60px 0 62px 0;
    display: flex;
  }
  
  .search-field {
    box-sizing: border-box;
    width: 223px;
    border: none;
    padding: 19px;
    margin: 0;
    
    display: inline-block;
    vertical-align: middle;
    
    font-size: 13px;
    height: 47px;
    background-color: #f4f7f6;
  }
  
  .search-field:focus {
   outline: #b59f5b solid 1px;
   outline-offset: -1px;
  }
  
  .search-button{
    box-sizing: border-box;
    width: 49px;
    height: 47px;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
    background-image: url("../SVG/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
  }
  
  .search-button:hover{
    background-color: #323232;
  }
 
  .subscribe{
    margin: 22px 0 61px 0;
  }
  
  .subscribe-field{
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 19px;
    margin: 0;
    
    display: inline-block;
    
    font-size: 13px;
    height: 47px;
    background-color: #f4f7f6;
  }
  
  .subscribe-field:focus {
   outline: #b59f5b solid 1px;
   outline-offset: -1px;
  }
  
  .subscribe-button{
    margin-top: 18px;
    box-sizing: border-box;
    width: 100%;
    height: 47px;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .subscribe-button:hover{
    background-color: #323232;
  }
  
  .section-tag-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;
  }
  
  .section-tag-list>li{
    display: flex;
    margin: 0 6px 6px 0;
  }
  
  .section-tag-list a{
    box-sizing: border-box;
    text-decoration: none;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border: #eeeeee solid 3px;
    padding: 6px 14px;
  }
  
  .section-tag-list a:hover{
    border: #b59f5b solid 3px;
  }
  
  .categories-list>li{
    padding: 19px 0 14px 2px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
  }
  
  .categories-list a{
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
  
  .category-sup{
    margin-left: 5px;
    color: #b59f5b;
    font-size: 12px;
    font-weight: 700;
    vertical-align: super;
  }
  
  .categories-list a:hover{
    color: #b59f5b;
  }

  .shop {
    display: flex;
    margin: auto;
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    font-family: OpenSans;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  .product-pic {
    margin-bottom: -32px;
  }

  .product-description {
    border: #b59f5b solid 3px;
    box-sizing: border-box;
    padding: 55px 20px 26px;
    width: 100%;
    flex-grow: 1;
  }

  .product-description h4 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    margin-bottom: 9px;
  }

  .product-description p {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
  }

  .product-description p a {
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    color: #b59f5b;
  }

  .product-description p a:hover {
    text-decoration: underline;
  }

  .offer {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .offer h4 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 15px;
    color: #0f0d0e;
  }

  .old-price {
    font-size: 14px;
    text-decoration: line-through;
  }

  .shop-link {
    display: flex;
    width: 140px;
    height: 48px;
    box-sizing: border-box;
    background-color: #b59f5b;
    color: #ffffff;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;

  }

  footer {
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 64px auto;
    font-family: OpenSans;
  }
  
  .social {
    width: 100%;
    padding: 31px;
    background-color: #f4f7f6;
    box-sizing: border-box;
    text-align: center;
  }
  
  .social-icons{
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .social-icons>li{
    margin-right: 30px;
  }
  
  .social-icons a {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .social-icons a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .social-icons .social-icon-dribble::before {
    background-image: url("../SVG/001-dribbble.svg");
  }
  
  .social-icons .social-icon-pinterest::before {
    background-image: url("../SVG/002-pinterest.svg");
  }
  
  .social-icons .social-icon-tumblr::before {
    background-image: url("../SVG/003-tumblr.svg");
  }
  
   .copyrights{
    width: 100%;
    text-align: center;
    margin-top: 73px;
  }
  
  .copyrights-link{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #999999;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

  

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(29,28,26,0.6);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    font-family: OpenSans;

    display: none;                /*<---- popup выключатель*/
}

.form-hint {
  font-size: 13px;
}

.popup-content {
    display: flex;
    flex-direction: column;  
    margin: 238px auto 0px auto;
    max-width: 390px;
    width: 100%;
    padding: 54px 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
}

.popup-title {
  font-size: 20px;
  font-family: OpenSans;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.popup-title::after {
  content:"";
  display: block;
  margin: 14px auto 29px;
  max-width: 66px;
  width: 100%;
  height: 3px;
  background-color: #e1d9bd;
  border: none;
}

.popup-select {
  
  -webkit-appearance: none; 
  -moz-appearance: none;
  
  max-width: 330px;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #f4f7f6;
  margin-top: 12px;
  padding: 0px 18px;
  font-size: 13px;
  background-image: url("../SVG/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: 9px 18px;
  margin-bottom: 33px;
}

.popup-select:focus {
  border: 1px solid #b59f5b;
  outline:none;
}

.radio-group {
  display: block;
  font-size: 13px;
  margin-top: 12px;
  margin-bottom: 33px;
}

.popup-radio:nth-child(n+2) {
  margin-left: 16px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.popup-radio-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 18px;
  height: 18px;
  background-image: url("../SVG/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.radio:checked ~ .popup-radio-text::before {
  background-image: url("../SVG/form-circle.svg");
}

.feedback {
  min-height: 131px;
  max-height: 131px;
  min-width: 100%;
  max-width: 330px;
  padding: 21px;
  box-sizing: border-box;
  margin-top: 12px;
  background-color: #f4f7f6;
  border: 1px solid #f4f7f6;
  resize: none;
}

.feedback:focus {
  border: 1px solid #b59f5b;
  outline:none;
}

.popup-button {
  max-width: 330px;
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  margin-top: 27px;
}

.popup-button:hover {
  background-color: #323232;
}

.popup-button:hover, .popup-radio-text:hover, .popup-select:hover, .popup-close:hover {
  cursor: pointer;
}


.popup-close {
  width: 19px;
  height: 19px;
 
  position: absolute;
  background-image: url("../SVG/form-x.svg");
  border: none;
  background-color: rgba(0, 0, 0, 0);
  top: -27px;
  right: 0px;

}

@media (max-width: 1199px) {
  .menu-button {
    display: flex;
    align-items: center;
    width: 23px;
    cursor: pointer;
    z-index: 1;
    margin-left: 30px;
  
  }
  
  .menu-button > span,
  .menu-button > span::before,
  .menu-button > span::after {
    display: block;
    position: absolute;
    width: 23px;
    height: 3px;
    background-color: #ffffff;
  }
  
  .menu-button > span::before {
    content: '';
    top: -8px;
  }
  
  .menu-button > span::after {
    content: '';
    top: 8px;
  }
  
  .menu {
    visibility: hidden;
  }
  
  #menu-toggle:checked ~ .menu {
    visibility: visible;
  }

  .post-frame {
    margin-left: 0px;
  }

  .popup-close {
    width: 27px;
    height: 27px;
    top: -37px;
}

}

@media (min-width: 641px) and (max-width: 1199px) {

.header {
  background-image: url("../Images/banner-bg-tablet.jpg");
}

.trends {
  flex-wrap: wrap;
}

.card {
  width: 49.6%;
}

.card:nth-child(1n+3){
  margin-top: 0.8%;
}

.post-list {
  width: 55%;
}

.post {
  flex-direction: column;

}

.shop {
  flex-wrap: wrap;
}

.product {
  width: 47.5%;
}

.product:nth-child(1n+3){
  margin-top: 5%;
}

.container, .page, .shop, footer {
  max-width: 697px;
}

.post {
  width: 100%;
}

.side-bar {
  width: 39%;
}

.header-logo {
  width: 100%;
}

.popup-radio-text::before {
  width: 25px;
  height: 25px;

}

.post:nth-child(n+2):before {
  content:"";
  display: block;
  margin: 0px auto 42px;
  width: 381px;
  height: 3px;
  background-color: #eeeeee;
  border: none;
}

.post-text{
  margin-top: 37px;
}

.post-frame {
  margin-top: 16px;
}

.post:nth-child(n+2) {
  margin-top: 20px;
}

.page-title {
  margin-top: 49px;
}

}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trends {
    flex-wrap: nowrap;
  }

  .card {
    width: 24.8%;
  }

  .card:nth-child(1n+3){
    margin-top: 0px;
  }
}

@media (max-width: 640px) {

  .header {
    background-image: url("../Images/banner-mobile.jpg");
  }

.container {
  flex-direction: column-reverse;
  margin-top: 31px;
}

.header-logo {
  margin-top: 186px;
  width: 100%;
}

.intro {
  margin-top: 44px;
  margin-bottom: 216px;
  font-size: 14px;
  line-height: 36px;
}

.trends {
  flex-direction: column;
}

.card {
  width: 100%;
}

.card:nth-child(1n+2){
  margin-top: 0.8%;
}

.post {
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.post:nth-child(n+2){
  margin-top: 23px;
}

.post:nth-child(n+2):before {
  content:"";
  display: block;
  margin: 0px auto 42px;
  width: 100%;
  height: 3px;
  background-color: #eeeeee;
  border: none;
}

.page {
  flex-direction: column;
  align-items: center;
  
}

.container, .page, .shop, footer, .side-bar {
  width: 91%;
}

.shop {
  flex-direction: column;
  align-items: center;
}

.product {
  width: 100%;
}

.product:nth-child(1n+2) {
  margin-top: 5%;
}

.search-field {
  width: 100%;
}

.menu-list li:nth-child(-n+2) {
  display: none;
}

.menu-list li:nth-child(n+2) {
  margin-left: 5%;
}

.hamburger-menu {
  width: 91%;
}

.search-field {
  width: 100%;
}

.post-list {
  width: 100%;
  max-width: 381px;
}

.post-pic {
  width: 100%;
}

.post-pic img {
  width: 100%;
}

.post-frame{
  margin-top: 15px;
}

.date_author {
  margin-top: 23px;
}

.post-text {
  margin-top: 23px;
}

.side-bar {
  margin-top: 44px;
}

.section-title {
  font-size: 20px;
}

.popup-content {
  margin-top: 50px;
  max-width: 390px;
  max-height: 545px;
  height: 90vh;
  width: 95%;
  padding: 30px 30px;
}

.popup-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.popup-select {
  margin-top: 0px;
  margin-bottom: 0px;
}

.radio-group {
  margin-top: 0px;
  margin-bottom: 0px;
}

.feedback {
  margin-top: 0px;
}

.popup-button {
  margin-top: 0px;
}
}

@media (max-width: 640px) and (orientation: landscape) {

  .trends {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    width: 49.6%;
  }

  .card:nth-child(1n+2){
    margin-top: 0px;
  }
  
  .card:nth-child(1n+3){
    margin-top: 0.8%;
  }

}






